{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>FundRaiser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% static 'admin/images/icon5.png' %}" />

    <link href="https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'user/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      
      
      
      <div class="bg-primary py-3 top-bar shadow d-none d-md-block">
        <div class="container">
          <div class="row" >
            <div class="col-md-6 text-md-left pl-0 ">
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
            </div>
            <div class="col-md-6 text-md-right ">
              
              <a href="{% url 'admin_login' %}" type="button" class="btn btn-dark ;">Admin</a>
            </div>
          </div>
        </div>
      </div>
      <header class="site-navbar site-navbar-target bg-secondary shadow" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">
            

            <div class="site-logo">
              <a href="{% url 'home2' %}" class="text-white">Fundraiser</a>
            </div>


            <nav class="site-navigation text-left ml-auto " role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'home2' %}" class="nav-link">Home</a></li>
                <li ><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
                <li><a href="{% url 'health' %}" class="nav-link">Health</a></li>
                <li><a href="{% url 'livehood' %}" class="nav-link">Livehood</a></li>
                <li><a href="{% url 'education' %}" class="nav-link">Education</a></li>
                <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                <a href="{% url 'signup' %}" type="button" class="btn btn-primary btn-lg">Raise Funds</a>
              </ul>
            </nav>


            <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-white"></span></a></div>

            

          </div>
        </div>

      </header>




    <div class="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">Join The Movement To end </h1>
        <p><a href="{% url 'donate' %}" class="btn btn-primary py-3 px-4 rounded-1">Donate Now</a></p>
      </div>

      <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('/static/user/images/1254.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('/static/user/images/img_2.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('/static/user/images/img_3.jpg');"></div>
        
      </div>
    </div>
    

    <div class="container">
      <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 1;justify-content:center">
        
        <a href="#" class="feature-29192 overlay-warning" style="background-image: url('/static/user/images/img_1_gray.jpg');">
          <div class="text">
            <span class="meta">Education</span>
            <h3 class="text-cursive text-white h1">Education</h3>
          </div>
        </a>

        <a href="#" class="feature-29192 overlay-danger" style="background-image: url('/static/user/images/img_3_gray.jpg');">
          <div class="text">
            <span class="meta">Livelihood</span>
            <h3 class="text-cursive text-white h1">Livelihood</h3>
          </div>
        </a>

        <a class="feature-29192 overlay-success" style= "background-image: url('/static/user/images/img_2_gray.jpg');">
          <div class="text">
            <span class="meta">Health</span>
            <h3 class="text-cursive text-white h1">Medical</h3>
          </div>
        </a>

        

      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5 align-items-st">
          <div class="col-md-4">
            <div class="heading-20219">
              <h2 class="title text-cursive">Latest Causes</h2>
            </div>
          </div>
          <div class="col-md-8">
            <p> fund-raising is the process of seeking and gathering voluntary financial contributions by education ,livehood,Health, ...</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                  <img src="{% static 'user/images/img_1.jpg' %}" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-danger" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                  <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">School</span>
                  <h3 class="mb-4"><a href="#">Alias Odit Ipsam Quas Unde Obcaecati</a></h3>
                  <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>
                  <br>
                  
                  <div> 
                    <button type="button" class="btn btn-primary btn-lg btn-block">Donate</button>
                  </div>
                  <br>
                  
                  
                  
                </div>
              
              </div>
          </div>
          <div class="col-md-4">
            
            <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                  <img src="{% static 'user/images/09.jpg' %}" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-primary" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                  <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Health</span>
                  <h3 class="mb-4"><a href="#">Alias Odit Ipsam Quas Unde Obcaecati</a></h3>
                  <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>
                  
        <br>
                  <div> 
                    <a href="{% url 'donate' %}" type="button" class="btn btn-primary btn-lg btn-block">Donate</a>
                  </div>
                  <br> 
                  
                </div>
              
              </div>

          </div>
          <div class="col-md-4">
            
            <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                  <img src="{% static 'user/images/img_3.jpg' %}" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-warning" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border ">
                  <span class="badge-warning py-1 small px-2 rounded mb-3 d-inline-block">{{data.cause}}</span>
                  <h3 class="mb-4"><a href="#">Alias Odit Ipsam Quas Unde Obcaecati</a></h3>
                  <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>

                  
                  <br>
                  <div> 
                    <a href="{% url 'donate' %}" type="button" class="btn btn-primary btn-lg btn-block">Donate</a>
                  </div>
                  <br> 
                </div>
              
              </div>

          </div>
        </div>
      </div>
    </div>

    <div class="bg-image overlay site-section" style="background-image: url('/static/user/images/hero_1.jpg');">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-12">
            <div class="row mb-5">
              <div class="col-md-7">
                <div class="heading-20219">
                  <h2 class="title text-white mb-4 text-cursive">Why Choose Us</h2>
                  <p class="text-white">These giving and fundraising  remind us all of the importance of charitable acts. Giving gives you back more than you imagine. </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>1</span></div>
                  <div>
                    <h3>Livelihood</h3>
                    <p>The Livelihoods Funds bring together a coalition of actors who join forces to restore degraded natural ecosystems, build sustainable supply chains and improve the livelihoods of millions of rural communities who are the most vulnerable to the effects of climate change.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>2</span></div>
                  <div>
                    <h3>Education</h3>
                    <p>Education Crowdfunding helps teachers, students and NGOs raise funds to buy classroom supplies, take children on special field trips and build toilets. Crowdfunding can also provide funds for distributing daily meals, upgrade school infrastructures like gymnasium, play areas, classroom renovation and expansion. Online crowdfunding for education is gaining more and more recognition. It is safe, easy and effective, and can reach a much larger pool of people in far less time.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>3</span></div>
                  <div>
                    <h3>Health</h3>
                    <p>Fundraising sites dedicated to medical fundraising  such as MedGift.Org are gaining traction. GoFundMe, a large fundrasing site for any cause reports that a third of the campaigns launched on their platform are for medical expenses. It’s easy to understand why, given that health policies can cost thousands of dollars per year, and have high deductibles. If someone falls ill and finds themselves needing costly care; turning to friends, family and kind strangers for help, fundrasing is an increasingly popular and viable option.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>4</span></div>
                  <div>
                    <h3>Fundraiser</h3>
                    <p>fundraiser is a quick and easy way to raise money using the internet and social media. Using an online fundraiser page, you can raise large amounts through donations from across the world to help any social, medical, personal or creative need.
                      Campaigners have used crowdfunding to pay for critical medical treatments such as cancer care or transplant, support disaster relief work, help a non-profit or a social cause and even fund personal needs such as education or businesses.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    
  

    <div class="site-section bg-image overlay-primary" style="background-image: url('images/img_1.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-md-6">
            <img src="{% static 'user/images/img_1.jpg' %}" alt="Image" class="img-fluid shadow">
          </div>
          <div class="col-md-6">
            <div class="bg-white h-100 p-4 shadow">
              <h3 class="mb-4 text-cursive">Donate Now</h3>
              <form action="#">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Amount in dollar">
                </div>
                <div class="form-group">
                  <a href="{% url 'donate' %}" type="button" class="btn btn-primary btn-md ">Donate</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Homeless, Hungry, and Hurtings Children</h2></div>
              <div class="ml-auto"><a href="{% url 'donate' %}"  class="btn btn-primary">Donate Now</a></div>
            </div>
        
      </div>
    </div>
    
   
    <footer class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
               <p>The pain itself is a lot of pain, it's enhanced. That sort of thing, let him seek for his labors;</p>


              </div>
             <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'about' %}">About Us</a></li>
                  <li><a href="{% url 'health' %}">Health</a></li>
                  <li><a href="{% url 'livehood' %}">Livehood</a></li>
                  <li><a href="{% url 'education' %}">Education</a></li>
                  <li><a href="{% url 'contact'%}">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control rounded-0 border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        
      </div>

    </footer>

    </div>

    <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'user/js/popper.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'user/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.fancybox.min.js'"></script>
    <script src="{% static 'user/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'user/js/aos.js' %}"></script>

    <script src="{% static 'user/js/main.js' %}"></script>

  </body>

</html>
